@model FirstResponsiveWebAppKlein.Models.FirstResponsiveWebAppKleinModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData ["Name and Birthdate"}</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom.css" />

    <script src="~/lb/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lb/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<div class="container">
    <header class="jumbotron">Name and Birthdate</header>
    <main>
        <form asp-action="Index" method="post" class="form-horizontal">
            <div asp-validation-summary="All"></div>

            <div class="row">
                <label asp-for="Name" 
                class="control-label col-sm-2">
                Name:</label>
                <input asp-for="Name" 
                       class="form_control col-sm-5" />
                <span asp-validation-for="Name"
                      class="text-danger col"></span>
            </div>
            <div class="row">
                <label asp-for="BirthYear"
                       class="control=label col-sm-2"> 
                       Birthday:</label>
                <input asp-for="BirthYear"
                       class="form-control col-sm-10" />
                <span asp-validation-for="BirthYear"
                      class="text-danger col"></span>
            </div>
            <div class="row">
                <label class="control-label col-sm-2">Greeting:</label>
                <input value="@ViewBag.BD" readonly 
                       class="form-control col-sm-10" />
            </div>
            <button type="submit">Submit</button>
            <a asp-action="Index">Clear</a>
        </form>
    </main>
</div>
